@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@font-face{
    font-family: "Ginger";
    src: url("../font/yellowginger.ttf");
  }

:root {
    --white: rgba(223, 223, 223, 0.788);
    --green:#27ae60;
    --black:#192a56;
    --light:#666;
    --box-shadow:3px 5px 11px 5px #00000038;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

.btn{
    background-color: var(--green);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 9px 0;
    font: 500 19px/1 'Nunito';
}

/* header */

.sub-heading{
    font: 500 19px/1 'Nunito';
    margin-top: 17px;
    color: var(--green);
}
.heading{
    margin-bottom: 17px;
    text-align: center;
    color: var(--black);
}
.sub-heading , .heading{
    text-align: center;
    text-transform: capitalize;
}
nav{
    width: 100%;
    padding: 11px;
    display: flex;
    justify-content:space-between ;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}

.logo span{
    font:500 21px/1 'Ginger';
    color: var(--green)
}

nav a{
    text-decoration: none;
    margin: 9px;
    font: 300 17/1 '';
    color: var(--light);
    padding: 5px;
    border-radius: 5px;
}
nav a:hover{
    background-color: var(--green);
    color: #fff;
}

.user-links a{
    background-color: transparent;
    color: var(--black);
}
.user-links a:hover{
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--green);
}

.scrolled{
    background: rgba(255, 255, 255, 0.781);
    box-shadow: var(--box-shadow);
    position:fixed;
    z-index: 99;
    top:0;
    right: 0;

}

/* slider */

.swiper {
    height: 500px;
  }

.swiper-slide{
    display: flex;
    justify-content: space-around;
    margin: 19px 0;
}

.swiper-button-next,
.swiper-button-prev {
    color:rgba(72, 172, 72, 0.616) !important;

}
.swiper-slide .content{
    height: 90%;
    margin: auto;
}
.swiper-slide .content , .swiper-slide img{
    padding: 2rem;
    margin: 1rem;
}
.swiper-slide span{
    text-transform: capitalize;
    color: var(--black);
    font: 900 24px/1 'Nunito';
}

.swiper-slide h3{
    font: 700 19px/1 'Nunito';
    color: var(--green);
    margin-bottom: 17px;

}

  /* dishes section */

  .dishes{
    display: grid;
    grid-template-columns: repeat(3,250px);
    justify-content: center;
    grid-gap: 11px;
  }
  .dishes .box{
      display: flex;
      flex-direction: column;
      text-align: center;
      border: 1px solid var(--green);
      border-radius: 5px;
      box-shadow: var(--shadow);
      padding: 3px;
  }
  .dishes .box img{
      width: 100%;
      height: 200px;
      object-fit: contain;
  }
  .box .box-icons{
      display: flex;
      justify-content: space-between;
      padding: 5px;
  }
  .box i{
      color: var(--light);
  }

/* reviews section */

.reviews-container{
    display: flex;
    width: 90%;
    margin: auto;
}
.reviews{
    margin-top: 3rem;
}
.review{
    padding: 2em 0;
    margin: 2em 1em;
    width: 30%;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}
.review-image{
    display:flex;
    padding: 5px;
}
.review-image img{
    border-radius: 50%;
    margin: auto;
    width: 70px;
}
.review .rating{
    margin: 9px;
    display:flex;
    justify-content: center;
    color: #666;
}
.review .rating i:nth-child(1),.review .rating i:nth-child(2),.review .rating i:nth-child(3){
    color: gold;
}

/* menu section */
.menu{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}
.menu .item{
    margin: 1rem;
    padding: 5px;
    text-align: center;
}
.menu .item ul{
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content:space-around ;
}
.menu-items .item span{
    margin: 1rem;
}
.menu-items{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(250px,1fr));
}

/* footer */

footer {
    background-color: #192a56;
    margin-bottom: 1em;
}
footer h3{
    color: var(--white);
    margin-bottom: 1em;
    text-align: center;
}
.footer-container{
    padding: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.footer-container .links li{
    list-style: none;
    margin: .5em;
}
.footer-container .links li a{
    text-decoration: none;
    color: var(--light);
    text-transform: capitalize;
}
.footer-container .subscribe{
    width: 300px;
    color: var(--white);
}

.footer-container .address{
    color: var(--light);
    font: 700 1em/1 'roboto';
    margin: .3em;
    color: var(--white);
}
.footer-container .address img{
    width: 200px;
}
.footer-container .subscribe input{
    height: 33px;
    padding: 5px;
    border: 1px solid var(--green);
    border-radius: 5px;
}
footer span{
    display: block;
    color: var(--white);
    text-align: center;
    padding: .3em;
    font: 1em/1;
    background-color: #000;
    position: fixed;
    right: 0;
    bottom:0;
    width: 100%;
}